project_files
project_files/
_ark/ui/track/animated_gems
_ark/ui/track/animated_smashers
_ark/ui/track/animated_surfaces
_build/xbox/gen/patch_xbox_0.ark
_build/xbox/gen/patch_xbox.hdr
_build/ps3/USRDIR/gen/patch_ps3.hdr
_build/ps3/USRDIR/gen/patch_ps3_0.ark
_xenia/gen/*.ark
_xenia/gen/*.hdr
_build_rpcs3.bat
_build/ps3/USRDIR/band_s.elf
_build/wii/
rb3_plus
rbdx_animated_textures
_xenia/cache/*
_xenia/content/45410914/00000001/band3/save.dat
_xenia/content/45410914/00000001/globaloptions/globaloptions
_xenia/content/45410914/00000001/songcache/songcache
_xenia/content/45410914/Headers/*
_xenia/xenia.log
_build_xbox - Copy.bat
_xenia/content/45410914/00000001/RB1DISCCUSTOMPACKWITHUNEXPORTABLES
_xenia/content/45410914/00000002/*
_xenia/content/45410914/00000001/*
_xenia/content/45410829/00000002/*
_xenia/content/45410829/00000001/*
*.pyc
_redownload_rb3_plus_pro_strings.bat
rb3_plus_pro_strings.py
_xenia/content/45410914
_xenia/content/45410869
_xenia/content/45410829
_xenia/recent.toml
_xenia/RB3EHelper/*
_run_rb3e_xenia.bat
_build/xbox/gen/main_xbox_9.ark
_build/xbox/gen/main_xbox_8.ark
_build/xbox/gen/main_xbox_7.ark
_build/xbox/gen/main_xbox_6.ark
_build/xbox/gen/main_xbox_5.ark
_build/xbox/gen/main_xbox_4.ark
_build/xbox/gen/main_xbox_3.ark
_build/xbox/gen/main_xbox_2.ark
_build/xbox/gen/main_xbox_1.ark
_build/xbox/gen/main_xbox_0.ark
_build/xbox/gen/main_xbox.hdr
