name: CI

on: [push, pull_request]

jobs:
  build_xbox:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build ARK
        run: |
          chmod +x dependencies/arkhelper
          chmod +x dependencies/dtab
          chmod +x dependencies/superfreq
          dependencies/arkhelper dir2ark ./_ark ./_build/xbox/gen -n "patch_xbox" -e -v 6
      
      - name: Upload result
        uses: actions/upload-artifact@v2
        with:
          name: RB3DX-Base-Xbox
          path: _build/xbox

  build_ps3:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build ARK
        run: |
          chmod +x dependencies/arkhelper
          chmod +x dependencies/dtab
          chmod +x dependencies/superfreq
          dependencies/arkhelper dir2ark ./_ark ./_build/ps3/USRDIR/gen -n "patch_ps3" -e -v 6
      
      - name: Upload result
        uses: actions/upload-artifact@v2
        with:
          name: RB3DX-Base-PS3
          path: _build/ps3

  build_xbox_keys:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build ARK
        run: |
          chmod +x dependencies/arkhelper
          chmod +x dependencies/dtab
          chmod +x dependencies/superfreq
          pip install gitpython
          python dependencies/enable_keys.py
          dependencies/arkhelper dir2ark ./_ark ./_build/xbox/gen -n "patch_xbox" -e -v 6
      
      - name: Upload result
        uses: actions/upload-artifact@v2
        with:
          name: RB3DX-Xbox-additional-keys
          path: _build/xbox

  build_ps3_keys:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build ARK
        run: |
          chmod +x dependencies/arkhelper
          chmod +x dependencies/dtab
          chmod +x dependencies/superfreq
          pip install gitpython
          python dependencies/enable_keys.py
          dependencies/arkhelper dir2ark ./_ark ./_build/ps3/USRDIR/gen -n "patch_ps3" -e -v 6
      
      - name: Upload result
        uses: actions/upload-artifact@v2
        with:
          name: RB3DX-PS3-additional-keys
          path: _build/ps3

  build_xbox_pad_is_guitar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build ARK
        run: |
          chmod +x dependencies/arkhelper
          chmod +x dependencies/dtab
          chmod +x dependencies/superfreq
          sed -i -e "s/(hx_xbox kControllerVocals)/(hx_xbox kControllerGuitar)/" _ark/config/joypad.dta
          sed -i -e "s/(digital kControllerVocals)/(digital kControllerGuitar)/" _ark/config/joypad.dta
          sed -i -e "s/(analog kControllerVocals)/(analog kControllerGuitar)/" _ark/config/joypad.dta
          sed -i -e "s/(dualshock kControllerVocals)/(dualshock kControllerGuitar)/" _ark/config/joypad.dta
          dependencies/arkhelper dir2ark ./_ark ./_build/xbox/gen -n "patch_xbox" -e -v 6
      
      - name: Upload result
        uses: actions/upload-artifact@v2
        with:
          name: RB3DX-Xbox-pad-is-guitar
          path: _build/xbox

  build_ps3_pad_is_guitar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build ARK
        run: |
          chmod +x dependencies/arkhelper
          chmod +x dependencies/dtab
          chmod +x dependencies/superfreq
          sed -i -e "s/(hx_xbox kControllerVocals)/(hx_xbox kControllerGuitar)/" _ark/config/joypad.dta
          sed -i -e "s/(digital kControllerVocals)/(digital kControllerGuitar)/" _ark/config/joypad.dta
          sed -i -e "s/(analog kControllerVocals)/(analog kControllerGuitar)/" _ark/config/joypad.dta
          sed -i -e "s/(dualshock kControllerVocals)/(dualshock kControllerGuitar)/" _ark/config/joypad.dta
          dependencies/arkhelper dir2ark ./_ark ./_build/ps3/USRDIR/gen -n "patch_ps3" -e -v 6
      
      - name: Upload result
        uses: actions/upload-artifact@v2
        with:
          name: RB3DX-PS3-pad-is-guitar
          path: _build/ps3

  build_ps3_author_controller_faking:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Build ARK
        run: |
          echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
          chmod +x dependencies/arkhelper
          chmod +x dependencies/dtab
          chmod +x dependencies/superfreq
          sed -i -e "s/(ro_drums_ps3_ghwt kControllerDrum)/(ro_drums_ps3_ghwt kControllerRealGuitar)/" _ark/config/joypad.dta
          sed -i -e "s/(konami_drums_ps3_rr kControllerDrum)/(konami_drums_ps3_rr kControllerKeys)/" _ark/config/joypad.dta
          sed -i -e 's/(message_motd "Rock Band 3 Deluxe 0.1.7 Loaded! Thanks for playing!")/(message_motd "Rock Band 3 Deluxe ${{ steps.vars.outputs.sha_short }} Loaded! Thanks for playing!")/' _ark/ui/locale/eng/locale_updates_keep.dta
          dependencies/arkhelper dir2ark ./_ark ./_build/ps3/USRDIR/gen -n "patch_ps3" -e -v 6

      - name: Upload result
        uses: actions/upload-artifact@v2
        with:
          name: RB3DX-PS3-author-controller-faking
          path: _build/ps3