name: CI

on: [push, pull_request]

jobs:
  build_yarg:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Build Files
        run: |
          sed -i '1d' _ark/dx/song_updates/songs_updates.dta
          dependencies/python/configure_yarg_build.py
          dependencies/linux/ninja

      - name: Upload result
        uses: actions/upload-artifact@v2
        with:
          name: RB3DX-YARG-Updates
          path: out/yarg

  build_xbox:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Set env
        run: |
          echo "GITHUB_SHA_SHORT=$(echo $GITHUB_SHA | cut -c 1-7)" >> $GITHUB_ENV
          echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
      - name: Build ARK
        run: |
          dependencies/python/configure_build.py xbox
          dependencies/linux/ninja

      - name: Remove .gitkeep
        run: |
          find . -name ".gitkeep" -type f -delete
      
      - name: Upload result
        uses: actions/upload-artifact@v2
        with:
          name: RB3DX-Xbox
          path: out/xbox

  build_ps3:
    runs-on: windows-2019

    steps:
      - uses: actions/checkout@v3
      - uses: GuillaumeFalourd/command-output-file-action@v1.1
        with:
          command_line: echo InstallDirectory = BLUS30463
          output_file_name: ps3_package.conf
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Build ARK
        run: |
          python dependencies/python/configure_build.py ps3
          dependencies/windows/ninja.exe
      - name: Build PKG
        run: |
          $sha_short="$(git rev-parse --short HEAD)".ToUpper()
          $content="UP8802-BLUS30463_00-RB3DXNITE"
          $packageversion="1.05"
          dependencies/windows/make_package_npdrm_retail.exe --k-licensee 0x00000000000000000000000000000000 --drm-type Local --package-version $packageversion --content-type GameData --content-id ($content + $sha_short) ps3_package.conf out/ps3
      - name: Upload result
        uses: actions/upload-artifact@v2
        with:
          name: RB3DX-PS3
          path: '*.pkg'

  build_wii:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Set env
        run: |
          echo "GITHUB_SHA_SHORT=$(echo $GITHUB_SHA | cut -c 1-7)" >> $GITHUB_ENV
          echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
      - uses: edgarrc/action-7z@v1
        with:
          args: 7z a -t7z -mx=9 build.7z ./build/
      - name: Configure Tools
        run: |
          curl -L https://download.wiimmfi.de/patcher/wiimmfi-patcher-latest.zip -o wiimmfi-patcher-latest.zip
          7z x wiimmfi-patcher-latest.zip
          mv wiimmfi-patcher-latest rb3dx_wii_patcher
          cp dependencies/wii_patcher/patch-images.sh rb3dx_wii_patcher/patch-images.sh
          cp dependencies/wii_patcher/setup.sh rb3dx_wii_patcher/bin/patch-images.sh

      - name: Remove .gitkeep
        run: |
          find . -name ".gitkeep" -type f -delete
      
      - name: Upload result
        uses: actions/upload-artifact@v2
        with:
          name: RB3DX-Wii-Patcher
          path: rb3dx_wii_patcher